body {
  background: #89B8CA;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: beige;
    padding: 5px 20px;
    border: 2px solid #1A647D;
    transition: 0.3s ease;
    border-radius: 12px 12px 4px 4px;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

h1 {
   color:aliceblue;
   margin-left:30%;
   font-size:40px;
   text-decoration:underline;
}

h3 {
  color:white;
  text-align: center
} 

#copyright {
  color:aliceblue;
  margin-left:85%;
  font-size:15x;
  font-family: "Lucida Handwriting", cursive;
  position: absolute;
  bottom: 5%;
}

.thing {

  color:aliceblue;
  text-align:center;
}

#baby{
  margin-left:20%;
  
}

#babyish{
   margin-left:10%;
   bottom:10%;
   position:absolute;
}
